.main {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoContainer {
  width: 100%;
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.noCityContainer {
  width: 100%;
  margin: 3rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.noCityTitle {
  color: var(--color-primary);
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}

.noCityText {
  color: var(--color-primary);
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.error {
  color: var(--color-raspberry);
}

@media (max-width: 1100px) {
  .infoContainer {
    flex-direction: column;
    gap: 3rem;
  }
}

@media (max-width: 600px) {
  .noCityTitle {
    font-size: 28px;
  }

  .noCityText {
    font-size: 20px;
  }
}
